 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
 }
 body{
     min-height: 100vh;
     background-image: url(images/kitchen-7471627.jpg); 
     background-color: white;
     background-size: cover; 
    background-position: center; 
      
    
    

 }
 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


 }
 .logo{
   font-size: 34px;
   color: white;
   text-decoration: none;
   font-weight: 800; 
 }
 .navbar a{
    position: relative;
    font-size: 23px;
    color:white;
    font-weight:800 ;
    text-decoration: none;
    margin-left: 40px;

 }
 .navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 4px;
    background:red;
    transition: .3s;
 }
 .navbar a:hover::before{
    width: 100%;

 }
 section{
   padding: 2rem 9%;
 }
 .home{
   display: flex;
   align-items:center;
   min-height: 100vh;
   color: white;
   
 }
 .home .content{
   max-width: 50rem;
 }
 .home .content h3{
   font-size: 6rem;
   color:#fff;

 }
 .home .content span{
   font-size: 3.5rem;
   color: #124559;
   padding: 1rem 0;
   line-height: 1.5;
 }

 .home .content p{
   font-size: 1.5rem;
   color: black;
   padding: 1rem 0;
   line-height: 1.5;
 }
 .btn{
   display: inline-block;
   margin-top: 2rem 9%;
   border-radius: 5rem;
   background: #333;
   color: #fff;
   padding: .7rem 2.5rem;
   cursor: pointer;
   font-size: 1.7rem;

}

.btn:hover{
   background: red;
}
 